html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#panDiv {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  clip-path: circle(500px at center);
}

#canvasBG {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url(images/monitorBG.png);
  background-size: 100vw 100vh;
}
